<html>
<head>
</head>
<body>

    {{> header }}

    <div id="contain">
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
        <p>{{pagetitle}}</p>
    </div>

    {{> footers }}

</body>
</html>